# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 858023a70001df7fd31811f1479a063338cb42dac66e901245f357460c43558f42f175ca9039b33555aa3bb859fc046ff8dc73d274b68f48954aed20936bddbc

test:
  secret_key_base: 2d99dc558b2b89d45b7bcbb0d4e1fbda1bcda83baa0f9436cdc4a0d970598fb294b172d417f7a51a82d011e1d6795c5d2bbfbb7b674643d265076d69fcae0015

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
